<link rel="stylesheet" href="styles.css">
{{#partial "content"}}
    <h1>Hero Time!</h1>
    <h2 class="text-center">Heroes</h2>
    <!-- Card group -->
    <div class="card-group">

        <!-- Card -->
        <div class="card mb-4  mr-4">

            <!-- Card image -->
            <div class="view overlay">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><strong>Batman</strong></h4>
                <!-- Text -->
                <p class="card-text"><strong>Age:</strong>21</p>
                <p class="card-text"><strong>Strength:</strong>Flying</p>
                <p class="card-text"><strong>Weakness:</strong>Angry</p>
            </div>
            <!-- Card content -->

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4 mr-4">

            <!-- Card image -->
            <div class="view overlay">

                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><strong>Superman</strong></h4>
                <!-- Text -->
                <p class="card-text"><strong>Age:</strong>23</p>
                <p class="card-text"><strong>Strength:</strong>Flying</p>
                <p class="card-text"><strong>Weakness:</strong>Sand</p>
            </div>
            <!-- Card content -->

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4 mr-4">

            <!-- Card image -->
            <div class="view overlay">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><strong>The Flash</strong></h4>
                <!-- Text -->
                <p class="card-text"><strong>Age:</strong>23</p>
                <p class="card-text"><strong>Strength:</strong>Speed</p>
                <p class="card-text"><strong>Weakness:</strong>Emotions</p>
            </div>
            <!-- Card content -->

        </div>
        <!-- Card -->

    </div>
    <h2 class="text-center">Squads that change the world!!</h2>
    <!-- Card group -->
    <div class="card-group">
    <!-- Card -->
    <div class="card mb-4  mr-4">

        <!-- Card image -->
        <div class="view overlay">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><strong>Phantoms</strong></h4>
            <!-- Text -->
            <p class="card-text"><strong>Size:</strong>4</p>
            <p class="card-text"><strong>Course:</strong>Teaching boys to be men</p>

        </div>
        <!-- Card content -->

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4 mr-4">

        <!-- Card image -->
        <div class="view overlay">

            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">
            <!-- Title -->
            <h4 class="card-title"><strong>Power Puff Girls</strong></h4>
            <!-- Text -->
            <p class="card-text"><strong>Size:</strong>3</p>
            <p class="card-text"><strong>Strength:</strong>Taking Mojo Jojo for a bath</p>
        </div>
        <!-- Card content -->

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4 mr-4">

        <!-- Card image -->
        <div class="view overlay">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">
            <!-- Title -->
            <h4 class="card-title"><strong>Titans</strong></h4>
            <!-- Text -->
            <p class="card-text"><strong>Size:</strong>4</p>
            <p class="card-text"><strong>Course:</strong>Taking kids to school</p>

        </div>
        <!-- Card content -->

    </div>
    <!-- Card -->
    </div>

    <div class="card mb-4 w-40 h-5">
        <!-- Card image -->
        <div class="view overlay">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!-- Card content -->
        <div class="card-body">
            <!-- Title -->
            <h4 class="card-title"><strong>{{ heroName }}</strong></h4>
            <!-- Text -->
            <p class="card-text"><strong>Age:</strong>{{ heroAge }}</p>
            <p class="card-text"><strong>Strength:</strong>{{ heroStrength }}</p>
            <p class="card-text"><strong>Weakness:</strong>{{ heroWeakness }}</p>
        </div>
        <!-- Card content -->
    </div>

    <!-- Card -->
    <div class="card mb-4  mr-4">

        <!-- Card image -->
        <div class="view overlay">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><strong>{{ squadName }}</strong></h4>
            <!-- Text -->
            <p class="card-text"><strong>Size:</strong>{{ squadMaxSize }}</p>
            <p class="card-text"><strong>Course:</strong>{{ squadCourse }}</p>

        </div>
        <!-- Card content -->

{{/partial}}

{{>layout.hbs}}